@mixin hepta() {
  font-family: 'Hepta Slab', serif;
  color: #16161d;
}

body {
  background-color: #161616;
  overflow: hidden;
}
#game {
  background-color: white;
  width: 1920px;
  height: 1080px;
  transform-origin: top left;
  transform: scale(1);
}
.overlay {
  opacity: 0;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 50vh;
  margin-bottom: -50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
  transition: 1s;
  h1, p, a {
    @include hepta();
  }
  h1 {
    font-size: 24pt;
  }
  a {
    opacity: 0.75;
  }
  .score {
    margin: 10px;
  }
  .score-final {
    font-size: 32pt;
  }
}
.ball {
  border-radius: 50%;
  position: absolute;
  opacity: .75;
  cursor: pointer;
}
